adbc_driver_manager==0.9.0
adbc_driver_postgresql==0.9.0
adbc_driver_sqlite==0.9.0
altair_saver==0.5.0
altair_viewer==0.4.0
anywidget==0.9.0
AppKit==0.2.8
apsw==3.45.1.0
atheris==2.3.0
BeautifulSoup==3.2.2
black==24.1.1
bokeh==3.3.4
boto3==1.34.35
botocore==1.34.35
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.6.1
Carbon==1.1.10
cchardet==2.1.7
chart_studio==1.1.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==42.0.2
ctypes_snappy==1.03
cvxopt==1.3.2
Cython==3.0.8
cytoolz==0.12.3
dask==2024.1.1
defcon==0.10.3
defusedxml==0.7.1
dl==0.1.0
docutils==0.20.1
fastparquet==2023.10.1
filelock==3.13.1
Flask==3.0.2
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freetype_py==2.4.0
fsspec==2024.2.0
gevent==23.9.1
gitdb_speedups==0.1.0
glyphsLib==6.6.3
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.98.2
ipykernel==6.29.0
ipython==8.21.0
ipywidgets==8.1.1
isoduration==20.11.0
jnius==1.1.0
joblib==1.3.2
JPype1==1.5.0
jsonpointer==2.4
keyring==24.3.0
lz4==4.3.3
mariadb==1.1.9
mock==5.1.0
mpmath==1.3.0
mtrand==0.1
munkres==1.1.4
mypy==1.8.0
MySQL-python==1.2.5
mysql_connector_repackaged==0.3.1
nitime==0.10.2
numarray==1.5.1
numdifftools==0.9.41
Numeric==24.2
numexpr==2.9.0
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.2
orjson==3.9.13
pandas_datareader==0.10.0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
pooch==1.8.0
psutil==5.9.8
psycopg==3.1.18
psycopg2==2.9.9
psycopg2cffi==2.9.0
pycares==4.4.0
pycurl==7.45.2
pydantic==2.6.1
PyInstaller==6.3.0
pymysql==1.1.0
pyodide==0.0.2
pyOpenSSL==24.0.0
pyperf==2.6.2
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.6.1
PySide2==5.15.2.1
PySide6==6.6.1
pysqlcipher==2.6.10
pysqlcipher3==1.2.0
pysqlite==2.8.3
pysqlite3==0.5.2
pytest_timeout==2.2.0
python_calamine==0.1.7
pyxlsb==1.0.10
PyYAML==6.0.1
qtpy==2.4.1
Quartz==0.0.1.dev0
railroad==0.5.0
redis==5.0.1
reportlab==4.0.9
requests_cache==1.1.1
Res==0.1.7
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rpy2==3.5.15
s3fs==2024.2.0
scikit_learn==1.4.0
scikits.talkbox==0.2.5
selenium==4.17.2
sets==0.3.2
setuptools_scm==8.0.4
shiboken2==5.15.2.1
shiboken6==6.6.1
simplejson==3.19.2
sip==6.8.2
skimage==0.0
snowflake==0.5.1
Sphinx==7.2.6
SQLAlchemy==2.0.25
sqlcipher3==0.5.2
sympy==1.12
testbench==0.1.2
thread==0.1.3
threadpoolctl==3.2.0
traitlets==5.14.1
trove_classifiers==2024.1.31
ufoLib2==0.16.0
uharfbuzz==0.39.0
unicodedata2==15.1.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
vegafusion==1.6.3
vincent==0.4.4
webcolors==1.13
xarray==2024.1.1
xattr==1.1.0
xlrd==2.0.1
xlsxwriter==3.1.9
xmlrpclib==1.0.1
yapf==0.40.2
zopfli==0.2.3
zstandard==0.22.0
scipy